@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Base */
:root {
    --primary-color: #333;
    --light-color: #f8f8ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --pri: #d4c1ec;
    --linea: #add8e6;
    --letra: #000000; /* Ajuste específico dentro de #colorOptions */

}

*[style*="--letra"] {
    font-weight: bold; /* Aplica negrita al texto */
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Agrega esta regla al final de tu archivo main.css */

/* Agrega estas reglas al final de tu archivo main.css */

.create-todo-form label[for="todoDate"] {
    font-weight: bold;
    font-size: 1.2rem; /* Cambia el tamaño de la fuente según sea necesario */
}


html {
    font-size: 62.5%;
    zoom:80%

}

body {
    
    background-color: #eaeef7;
    color: var(--letra); /* Uso de la variable --letra */
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    padding: 32px;
    height: 100vh;
    font-weight: bold; /* Aplica negrita al texto */

}

/* App container grid */
.app {
    display: grid;
    grid-template-columns: 225px 1fr;
    border-radius: 16px;
    overflow: hidden;
    height: auto;
}

/* Utilities */
.btn {
    background-color: var(--letra);
    color: var(--light-color);
    display: inline-block;
    padding: 12.50px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* Button Round */
.btn-round {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-round:hover {
    background-color: var(--success-color);
}

/* Header */
.header {
    color: var(--letra);
    padding: 1.6rem;
    position: sticky;
    top: 0;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.currently-viewing {
    font-size: 1.5rem;
}

.currently-viewing > span {
    font-weight: bold;
    color: #e57373;
    cursor: pointer;
}

/* Sidebar Form */
.sidebar-form .form-control {
    margin: 10px 0;
}

.sidebar-form input {
    border: 0;
    width: 100%;
    padding: 3px 0;
    font-size: 16px;
    background-color: transparent;
}

.sidebar-form input:focus {
    outline: none;
}

.sidebar-form button {
    width: 100%;
}

/* Sidebar List */
.sidebar-list {
    padding: 1.6rem;
}

.sidebar-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    cursor: pointer;
    font-size: 1.75rem;
}

.sidebar-item.active {
    font-weight: bold;
}

.sidebar-item:first-child {
    margin-top: 0;
}

.sidebar-color {
    border: none;
    width: 25px;
    margin-left: auto;
    cursor: pointer;
}

/* Main */
.main {
    background-color: var(--pri);
    height: 1100px;

    overflow-y: scroll;
    border-top-left-radius: 30px;  /* Redondea la esquina superior izquierda */
    border-top-right-radius: 30px; /* Redondea la esquina superior derecha */
    border-bottom-left-radius: 20px;  /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 20px;
}
.main::-webkit-scrollbar {
    display: none;
}

.main .header {
    background: var(--linea);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* Create and Edit Form */
.create-todo-form input, .edit-todo-form input,
.create-todo-form select, .edit-todo-form select {
    border: 0;
    width: 10%;
    padding: 3px 0;
    font-size: 16px;
    background-color: transparent;
}

.create-todo-form input:focus, .edit-todo-form input:focus,
.create-todo-form select:focus, .edit-todo-form select:focus {
    outline: none;
}

.create-todo-form, .edit-todo-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: .8;
}

.create-todo-form input, .edit-todo-form input {
    border-bottom: 1px solid #7976b1;
    width: 250px;
}

.edit-todo-form {
    display: none;
}

/* Cards */
.todos-container {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 1.6rem;
}

.todo {
    background-color: #fff;
    color: var(--primary-color);/*simbolo*/
    border-top: 6px solid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold; /* Aplica negrita al texto */

}

.todo-tag {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 5px;
    margin-bottom: 8px;
}

.todo-description {
    font-size: 1.6rem;
    margin: 1rem 0 2rem 0;
    word-break: break-all;
}

.todo-actions {
    margin-top: auto;
    font-weight: bold; /* Aplica negrita al texto */

}

.todo-actions i {
    font-size: 1.6rem;
    margin-right: 1.6rem;
    opacity: 0.25;
    cursor: pointer;
    font-weight: bold; /* Aplica negrita al texto */

}
.todo-date {
    font-size: 1.2rem;
    color: #000000;
    background-color: #f8f9fa;
    padding: -20px -10px;
    margin-top: -500px; /* Aumentar este valor para bajar la fecha un poco más */
    border-radius: 5px;
    display: block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin: 0 0 0 0; /* Asegúrate de que los otros márgenes sean 0 para no afectar el posicionamiento */
    padding-right: 10px;
}

.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-actions {
    display: flex;
    gap: 10px; /* Espacio entre íconos */
}

.todo-date {
    flex-grow: 1; /* Ocupar el espacio disponible hasta los íconos */
    margin: 0; /* Remover márgenes innecesarios */
    padding-right: 10px; /* Espacio antes de los íconos */
}
.create-todo-form input[type="text"],
.create-todo-form input[type="date"] {
    margin-top: 10px; /* Ajusta el valor según sea necesario */
}
.create-todo-form select {
    width: 120px; /* Ajusta el ancho según sea necesario */
}
.form-separator {
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    border-top: 1px solid #ccc; /* Agrega una línea divisoria */
}


/* Boton colores*/

#colorOptions {
    display: none;
}

.btn-round {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);/*Boton*/
    color: var(--light-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-round:hover {
    background-color: var(--success-color);
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos del botón para abrir el selector de colores */
#colorOptions {
    display: none;
    position: absolute;
    top: 660px;
    left: 0;
    background-color: #ffffff;
    border: 0.1px solid #000000;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(12, 12, 12);
    padding: 15px;
    z-index: 1000;
}

/* Estilos del título y la lista de opciones */
#colorOptions p {
    margin: 0 0 10px;
    font-weight: bold;
}

#colorOptions ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

#colorOptions ul li {
    padding: 8px;
    cursor: pointer;
    background-color: #fcfcfc1a;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#colorOptions ul li:hover {
    background-color: #e0e0e0;
}

/* Botón para seleccionar un color personalizado */
#customColorPicker {
    padding: 8px 12px;
    background-color: #fffefe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}
